<!DOCTYPE html>
<html>
<head>
    <title>Ansible Role Deployed Website</title>
</head>
<body style="font-family: Arial; background:#f4f4f4; padding:40px;">
    <h1 style="color:#2b6cb0;">Website Deployed Successfully...</h1>
    <p>This page is deployed using <strong>Ansible Role</strong>.</p>
    <p>Server Hostname: <b>{{ ansible_hostname }}</b></p>
</body>
</html>
